* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  content: '';
}
.cssIcon {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 20px;
}

.icon {
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon:hover {
  border: 1px solid RGB(134, 209, 246);
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
}

/*icon-1*/
.icon-1 .circle::after {
  position: absolute;
  width: 15px;
  border-bottom: 1px solid black;
  left: 23px;
  top: 28px;
  transform: rotate(45deg);
}

/*icon-2*/
.icon-2 .circle::after {
  position: absolute;
  width: 15px;
  border-bottom: 1px solid black;
  left: 23px;
  top: 28px;
  transform: rotate(45deg);
}
.icon-2 .circle .cross {
  position: absolute;
  width: 16px;
  border-bottom: 1px solid black;
  top: 14px;
  left: 6px;
}
.icon-2 .circle .cross::after {
  position: absolute;
  height: 16px;
  border-left: 1px solid black;
  left: 8px;
  top: -8px;
}

/*icon-3*/
.icon-3 .circle::after {
  position: absolute;
  width: 15px;
  border-bottom: 1px solid black;
  left: 23px;
  top: 28px;
  transform: rotate(45deg);
}
.icon-3 .circle::before {
  position: absolute;
  width: 16px;
  border-bottom: 1px solid black;
  top: 14px;
  left: 6px;
}

/*icon-4*/
.icon-4 .cross {
  width: 30px;
  border-bottom: 1px solid black;
  position: relative;
  transform: rotate(45deg);
}
.icon-4 .cross::after {
  height: 30px;
  border-left: 1px solid black;
  position: absolute;
  left: 15px;
  top: -15px;
}

/*icon-5*/
.icon-5 .lines {
  width: 30px;
  border-bottom: 1px solid black;
  position: relative;
}
.icon-5 .lines::before {
  width: 30px;
  border-bottom: 1px solid black;
  position: absolute;
  top: -8px;
}
.icon-5 .lines::after {
  width: 30px;
  border-bottom: 1px solid black;
  position: absolute;
  top: 8px;
}

/*icon-6*/
.arrow {
  width: 30px;
  border-bottom: 1px solid black;
  position: relative;
}
.arrow::before {
  width: 16px;
  border-bottom: 1px solid black;
  position: absolute;
  transform: rotate(-45deg);
  top: -6px;
  left: -2px;
}
.arrow::after {
  width: 16px;
  border-bottom: 1px solid black;
  position: absolute;
  transform: rotate(45deg);
  top: 6px;
  left: -2px;
}

/*icon-7*/
.icon-7 .arrow {
  transform: rotate(180deg);
}

/*icon-8*/
.icon-8 .arrow {
  transform: rotate(90deg);
}

/*icon-9*/
.icon-9 .arrow {
  transform: rotate(270deg);
}

/* icon-10*/
.icon-10 .plus {
  width: 30px;
  border-bottom: 1px solid black;
  position: relative;
}
.icon-10 .plus::before {
  height: 30px;
  border-left: 1px solid black;
  position: absolute;
  left: 15px;
  top: -15px;
}

/*icon-11*/
.icon-11 .minus {
  width: 30px;
  border-bottom: 1px solid black;
}

/*icon-12*/
.icon-12 .check {
  width: 30px;
  height: 15px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  transform: rotate(-45deg);
}

/*icon-13*/
.icon-13 .remove {
  width: 30px;
  border-bottom: 1px solid black;
  position: relative;
  transform: rotate(45deg);
}
.icon-13 .remove::before {
  height: 30px;
  border-left: 1px solid black;
  position: absolute;
  left: 15px;
  top: -15px;
}

/*icon-14*/
.icon-14 .trash {
  width: 30px;
  border-bottom: 1px solid black;
  position: relative;
  margin-top: -15px;
}
.icon-14 .trash::before {
  width: 16px;
  height: 6px;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  position: absolute;
  top: -6px;
  left: 7px;
}
.icon-14 .trash::after {
  width: 20px;
  height: 24px;
  border: 1px solid black;
  border-radius: 0 0 3px 3px;
  border-top: none;
  position: absolute;
  top: 2px;
  left: 5px;
}

/*icon-15*/
.icon-15 .audio {
  width: 11px;
  height: 18px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}
.icon-15 .audio::before {
  width: 15px;
  height: 10px;
  border: 1px solid black;
  border-radius: 0 0 50% 50%;
  border-top: none;
  position: absolute;
  left: -3px;
  top: 9px;
}
.icon-15 .audio::after {
  height: 5px;
  border-left: 1px solid black;
  position: absolute;
  left: 4px;
  top: 19px;
}

/*icon-16*/
.icon-16 .ping {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50% 50% 50% 0;
  position: relative;
  transform: rotate(-45deg);
}
.icon-16 .ping::before {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  left: 9px;
  top: 10px;
}
/*icon-17*/
.icon-17 .message {
  width: 30px;
  height: 20px;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
}
.icon-17 .message::before {
  width: 8px;
  height: 8px;
  border: 1px solid black;
  transform: rotate(45deg);
  position: absolute;
  left: 6px;
  top: 15px;
  border-top: none;
  border-left: none;
  background: white;
}

/*icon-18*/
.icon-18 .stop {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  transform: rotate(45deg);
  position: relative;
}
.icon-18 .stop::before {
  width: 30px;
  border-bottom: 1px solid black;
  position: absolute;
  top: 14px;
  left: -1px;
}
/*clock*/
.clock {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
}
.clock::before {
  width: 9px;
  height: 11px;
  border: 1px solid black;
  position: absolute;
}

/*icon-19*/
.icon-19 .clock1::before {
  border-top: none;
  border-right: none;
  left: 13px;
  top: 5px;
}

/*icon-20*/
.icon-20 .clock2::before {
  border-bottom: none;
  border-right: none;
  left: 13px;
  top: 13px;
}

/*icon-21*/
.icon-21 .clock3::before {
  border-top: none;
  border-left: none;
  left: 5px;
  top: 5px;
}

/*icon-22*/
.icon-22 .clock4::before {
  border-bottom: none;
  border-left: none;
  left: 5px;
  top: 13px;
}
