* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  content: '';
}
.cssIcon {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 20px;
}

.icon {
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon:hover {
  border: 1px solid RGB(134, 209, 246);
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
}

/*icon-1*/
.icon-1 .circle::after {
  position: absolute;
  width: 15px;
  border-bottom: 1px solid black;
  left: 23px;
  top: 28px;
  transform: rotate(45deg);
}

/*icon-2*/
.icon-2 .circle::after {
  position: absolute;
  width: 15px;
  border-bottom: 1px solid black;
  left: 23px;
  top: 28px;
  transform: rotate(45deg);
}
.icon-2 .circle .cross {
  position: absolute;
  width: 16px;
  border-bottom: 1px solid black;
  top: 14px;
  left: 6px;
}
.icon-2 .circle .cross::after {
  position: absolute;
  height: 16px;
  border-left: 1px solid black;
  left: 8px;
  top: -8px;
}

/*icon-3*/
.icon-3 .circle::after {
  position: absolute;
  width: 15px;
  border-bottom: 1px solid black;
  left: 23px;
  top: 28px;
  transform: rotate(45deg);
}
.icon-3 .circle::before {
  position: absolute;
  width: 16px;
  border-bottom: 1px solid black;
  top: 14px;
  left: 6px;
}

/*icon-4*/
.icon-4 .cross {
  width: 30px;
  border-bottom: 1px solid black;
  position: relative;
  transform: rotate(45deg);
}
.icon-4 .cross::after {
  height: 30px;
  border-left: 1px solid black;
  position: absolute;
  left: 15px;
  top: -15px;
}

/*icon-5*/
.icon-5 .lines {
  width: 30px;
  border-bottom: 1px solid black;
  position: relative;
}
.icon-5 .lines::before {
  width: 30px;
  border-bottom: 1px solid black;
  position: absolute;
  top: -8px;
}
.icon-5 .lines::after {
  width: 30px;
  border-bottom: 1px solid black;
  position: absolute;
  top: 8px;
}

/*icon-6*/
.arrow {
  width: 30px;
  border-bottom: 1px solid black;
  position: relative;
}
.arrow::before {
  width: 16px;
  border-bottom: 1px solid black;
  position: absolute;
  transform: rotate(-45deg);
  top: -6px;
  left: -2px;
}
.arrow::after {
  width: 16px;
  border-bottom: 1px solid black;
  position: absolute;
  transform: rotate(45deg);
  top: 6px;
  left: -2px;
}

/*icon-7*/
.icon-7 .arrow {
  transform: rotate(180deg);
}

/*icon-8*/
.icon-8 .arrow {
  transform: rotate(90deg);
}

/*icon-9*/
.icon-9 .arrow {
  transform: rotate(270deg);
}

/* icon-10*/
.icon-10 .plus {
  width: 30px;
  border-bottom: 1px solid black;
  position: relative;
}
.icon-10 .plus::before {
  height: 30px;
  border-left: 1px solid black;
  position: absolute;
  left: 15px;
  top: -15px;
}

/*icon-11*/
.icon-11 .minus {
  width: 30px;
  border-bottom: 1px solid black;
}

/*icon-12*/
.icon-12 .check {
  width: 30px;
  height: 15px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  transform: rotate(-45deg);
}

/*icon-13*/
.icon-13 .remove {
  width: 30px;
  border-bottom: 1px solid black;
  position: relative;
  transform: rotate(45deg);
}
.icon-13 .remove::before {
  height: 30px;
  border-left: 1px solid black;
  position: absolute;
  left: 15px;
  top: -15px;
}

/*icon-14*/
.icon-14 .trash {
  width: 30px;
  border-bottom: 1px solid black;
  position: relative;
  margin-top: -15px;
}
.icon-14 .trash::before {
  width: 16px;
  height: 6px;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  position: absolute;
  top: -6px;
  left: 7px;
}
.icon-14 .trash::after {
  width: 20px;
  height: 24px;
  border: 1px solid black;
  border-radius: 0 0 3px 3px;
  border-top: none;
  position: absolute;
  top: 2px;
  left: 5px;
}

/*icon-15*/
.icon-15 .audio {
  width: 11px;
  height: 18px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}
.icon-15 .audio::before {
  width: 15px;
  height: 10px;
  border: 1px solid black;
  border-radius: 0 0 50% 50%;
  border-top: none;
  position: absolute;
  left: -3px;
  top: 9px;
}
.icon-15 .audio::after {
  height: 5px;
  border-left: 1px solid black;
  position: absolute;
  left: 4px;
  top: 19px;
}

/*icon-16*/
.icon-16 .ping {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50% 50% 50% 0;
  position: relative;
  transform: rotate(-45deg);
}
.icon-16 .ping::before {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  left: 9px;
  top: 10px;
}
/*icon-17*/
.icon-17 .message {
  width: 30px;
  height: 20px;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
}
.icon-17 .message::before {
  width: 8px;
  height: 8px;
  border: 1px solid black;
  transform: rotate(45deg);
  position: absolute;
  left: 6px;
  top: 15px;
  border-top: none;
  border-left: none;
  background: white;
}

/*icon-18*/
.icon-18 .stop {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  transform: rotate(45deg);
  position: relative;
}
.icon-18 .stop::before {
  width: 30px;
  border-bottom: 1px solid black;
  position: absolute;
  top: 14px;
  left: -1px;
}
/*clock*/
.clock {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
}
.clock::before {
  width: 9px;
  height: 11px;
  border: 1px solid black;
  position: absolute;
}

/*icon-19*/
.icon-19 .clock1::before {
  border-top: none;
  border-right: none;
  left: 13px;
  top: 5px;
}

/*icon-20*/
.icon-20 .clock2::before {
  border-bottom: none;
  border-right: none;
  left: 13px;
  top: 13px;
}

/*icon-21*/
.icon-21 .clock3::before {
  border-top: none;
  border-left: none;
  left: 5px;
  top: 5px;
}

/*icon-22*/
.icon-22 .clock4::before {
  border-bottom: none;
  border-left: none;
  left: 5px;
  top: 13px;
}

/*icon-23*/
.icon-23 .profile {
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  top: -10px;
}
.icon-23 .profile::before {
  width: 30px;
  height: 15px;
  border: 1px solid black;
  border-radius: 15px 15px 0 0 / 10px 10px 0 0;
  border-bottom: none;
  position: absolute;
  left: -8px;
  top: 14px;
}

/*icon-24*/
.icon-24 .bell {
  width: 28px;
  height: 30px;
  border: 1px solid black;
  border-radius: 14px 14px 0 0;
  position: relative;
}
.icon-24 .bell::before {
  width: 36px;
  border-bottom: 1px solid black;
  position: absolute;
  left: -5px;
  top: 28px;
}
.icon-24 .bell::after {
  width: 12px;
  height: 7px;
  border: 1px solid black;
  border-radius: 0 0 6px 6px;
  border-top: none;
  position: absolute;
  left: 7px;
  top: 30px;
}

/*icon-25*/
.icon-25 .heart {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  position: relative;
  transform: rotate(-45deg);
}
.icon-25 .heart::before {
  width: 20px;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  position: absolute;
  left: -1px;
  top: -9px;
}
.icon-25 .heart::after {
  width: 10px;
  height: 20px;
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
  border-left: none;
  position: absolute;
  left: 18px;
}

/*icon-26*/
.icon-26 .print {
  width: 30px;
  height: 15px;
  border: 1px solid black;
  border-radius: 3px 3px 0 0;
  position: relative;
}
.icon-26 .print::before {
  width: 20px;
  height: 30px;
  border: 1px solid black;
  position: absolute;
  left: 4px;
  top: -5px;
  background: white;
}
.icon-26 .print::after {
  width: 24px;
  height: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  top: -1px;
  left: 2px;
  background: white;
}

/*icon-27*/
.icon-27 .pen {
  width: 30px;
  height: 8px;
  border: 1px solid black;
  position: relative;
  transform: rotate(-45deg);
}
.icon-27 .pen::before {
  width: 12px;
  height: 8px;
  border-left: 4px solid transparent;
  border-right: 12px solid black;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  position: absolute;
  left: -18px;
  top: -1px;
}

/*icon-28*/
.icon-28 .link {
  width: 12px;
  border-bottom: 1px solid black;
  position: relative;
  transform: rotate(-45deg);
}
.icon .link::before {
  width: 15px;
  height: 11px;
  border: 1px solid black;
  border-radius: 3px;
  position: absolute;
  left: -10px;
  top: -5px;
}
.icon .link::after {
  width: 15px;
  height: 11px;
  border: 1px solid black;
  border-radius: 3px;
  position: absolute;
  left: 7px;
  top: -5px;
}

/*icon-29*/
.icon-29 .map {
  width: 10px;
  height: 20px;
  border: 1px solid black;
  border-radius: 2px;
  position: relative;
  transform: skewY(20deg);
}
.icon-29 .map::before {
  width: 10px;
  height: 20px;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
  left: -10px;
  top: 3px;
  transform: skewY(-40deg);
}
.icon-29 .map::after {
  width: 10px;
  height: 20px;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
  left: 8px;
  top: -5px;
  transform: skewY(-40deg);
}

/*icon-30*/
.icon-30 .mail {
  width: 30px;
  height: 20px;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
}
.icon-30 .mail::before {
  width: 20px;
  border-bottom: 1px solid black;
  position: absolute;
  transform: rotate(45deg);
  top: 7px;
  left: -3px;
}
.icon-30 .mail::after {
  width: 20px;
  border-bottom: 1px solid black;
  position: absolute;
  transform: rotate(-45deg);
  top: 7px;
  left: 11px;
}

/*icon-31*/
.icon-31 .bookmark {
  width: 24px;
  height: 30px;
  border: 1px solid black;
  border-bottom: none;
  position: relative;
}
.icon-31 .bookmark::before {
  width: 17px;
  border-bottom: 1px solid black;
  position: absolute;
  transform: rotate(-45deg);
  top: 22px;
  left: -3px;
}
.icon-31 .bookmark::after {
  width: 17px;
  border-bottom: 1px solid black;
  position: absolute;
  transform: rotate(45deg);
  top: 22px;
  left: 8px;
}

/*icon-32*/
.icon-32 .camera {
  width: 30px;
  height: 20px;
  border: 1px solid black;
  border-radius: 2px;
  position: relative;
}
.icon-32 .camera::before {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  left: 9px;
  top: 4px;
}
.icon-32 .camera::after {
  width: 5px;
  height: 2px;
  background: #000;
  border-radius: 1px;
  position: absolute;
  top: -2px;
  left: 18px;
}

/*icon-33*/
.icon-33 .focus {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 2px;
  position: relative;
}
.icon-33 .focus::before {
  width: 10px;
  height: 20px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: -1px;
  left: 4px;
}
.icon-33 .focus::after {
  width: 20px;
  height: 10px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 4px;
  left: -1px;
}

/*icon-34*/
.icon-34 .card {
  width: 30px;
  height: 20px;
  border: 1px solid black;
  border-radius: 2px;
  position: relative;
}
.icon-34 .card::before {
  width: 30px;
  height: 4px;
  background: #000;
  position: absolute;
  left: -1px;
  top: 2px;
}
.icon-34 .card::after {
  width: 8px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 18px;
  top: 12px;
}

/*icon-35*/
.icon-35 .lock {
  width: 30px;
  height: 15px;
  border: 1px solid black;
  border-radius: 2px;
  position: relative;
}
.icon-35 .lock::before {
  width: 12px;
  height: 15px;
  border: 1px solid black;
  border-radius: 6px 6px 0 0;
  position: absolute;
  left: 8px;
  top: -15px;
}

/*icon-36*/
.icon-36 .unlock {
  width: 30px;
  height: 15px;
  border: 1px solid black;
  border-radius: 2px;
  position: relative;
}
.icon-36 .unlock::before {
  width: 12px;
  height: 10px;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  position: absolute;
  left: 8px;
  top: -15px;
}
.icon-36 .unlock::after {
  height: 5px;
  border-left: 1px solid black;
  position: absolute;
  left: 8px;
  top: -5px;
}

/*icon-37*/
.icon-37 .code {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  position: relative;
  transform: rotate(45deg);
  left: -10px;
}
.icon-37 .code::before {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-bottom: none;
  border-left: none;
  position: absolute;
  left: 8px;
  top: -8px;
}

/*icon-38*/
.icon-38 .flag {
  height: 30px;
  border-left: 1px solid black;
  position: relative;
  left: -10px;
}
.icon-38 .flag::before {
  width: 20px;
  height: 15px;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
  left: 2px;
  top: 2px;
}

/*icon-39*/
.icon-39 .tag {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-bottom: none;
  border-right: none;
  position: relative;
}
.icon-39 .tag::before {
  width: 21px;
  height: 21px;
  border: 1px solid black;
  border-top: none;
  transform: rotate(-45deg);
  position: absolute;
  left: 3px;
  top: 3px;
}
.icon-39 .tag::after {
  width: 3px;
  height: 3px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
}

/*icon-40*/
.icon-40 .wifi {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid black;
  border-radius: 50%;
  position: relative;
}
.icon-40 .wifi::before {
  width: 22px;
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid black;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 3px;
}
.icon-40 .wifi::after {
  width: 14px;
  height: 14px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid black;
  border-radius: 50%;
  position: absolute;
  left: 7px;
  top: 7px;
}

/*icon-41*/
.icon-41 .export {
  width: 21px;
  height: 21px;
  border: 1px solid black;
  border-radius: 2px;
  position: relative;
}
.icon-41 .export::before {
  width: 1px;
  height: 15px;
  box-sizing: content-box;
  background-color: black;
  border-left: 4px solid white;
  border-right: 4px solid white;
  position: absolute;
  left: 5px;
  top: -7px;
}
.icon-41 .export::after {
  width: 7px;
  height: 7px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  position: absolute;
  transform: rotate(45deg);
  left: 6px;
  top: -7px;
}

/*icon-42*/
.icon-42 .upload {
  width: 21px;
  height: 10px;
  border: 1px solid black;
  border-top: none;
  border-radius: 2px;
  position: relative;
}
.icon-42 .upload::before {
  width: 1px;
  height: 10px;
  box-sizing: content-box;
  background-color: black;
  border-left: 4px solid white;
  border-right: 4px solid white;
  position: absolute;
  left: 5px;
  top: -7px;
}
.icon-42 .upload::after {
  width: 7px;
  height: 7px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  position: absolute;
  transform: rotate(45deg);
  left: 6px;
  top: -7px;
}

/*icon-43*/
.icon-43 .import {
  width: 21px;
  height: 21px;
  border: 1px solid black;
  border-radius: 2px;
  position: relative;
}
.icon-43 .import::before {
  width: 1px;
  height: 15px;
  box-sizing: content-box;
  background-color: black;
  border-left: 4px solid white;
  border-right: 4px solid white;
  position: absolute;
  left: 5px;
  top: -5px;
}
.icon-43 .import::after {
  width: 7px;
  height: 7px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  transform: rotate(-45deg);
  left: 6px;
  top: 2px;
}

/*icon-44*/
.icon-44 .download {
  width: 21px;
  height: 10px;
  border: 1px solid black;
  border-top: none;
  border-radius: 2px;
  position: relative;
}
.icon-44 .download::before {
  width: 1px;
  height: 10px;
  box-sizing: content-box;
  background-color: black;
  border-left: 4px solid white;
  border-right: 4px solid white;
  position: absolute;
  left: 5px;
  top: -5px;
}
.icon-44 .download::after {
  width: 7px;
  height: 7px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  transform: rotate(-45deg);
  left: 6px;
  top: -2px;
}

/*icon-45*/
.icon-45 .shutdown {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
}
.icon-45 .shutdown::before {
  width: 1px;
  height: 15px;
  background: black;
  box-sizing: content-box;
  border-left: 4px solid white;
  border-right: 4px solid white;
  position: absolute;
  left: 9px;
  top: -3px;
}

/*icon-46*/
.icon-46 .paperclip {
  width: 16px;
  height: 26px;
  border: 1px solid black;
  border-radius: 8px 8px 0 0;
  border-bottom: none;
  position: relative;
  transform: rotate(45deg);
}
.icon-46 .paperclip::before {
  width: 12px;
  height: 15px;
  border: 1px solid black;
  border-radius: 0 0 6px 6px;
  border-top: none;
  position: absolute;
  left: -1px;
  top: 25px;
}
.icon-46 .paperclip::after {
  width: 8px;
  height: 20px;
  border: 1px solid black;
  border-radius: 6px 6px 0 0;
  border-bottom: none;
  position: absolute;
  left: 3px;
  top: 5px;
}

/*icon-47*/
.icon-47 .retweet {
  width: 30px;
  height: 20px;
  border: 1px solid black;
  border-radius: 2px;
  position: relative;
}
.icon-47 .retweet::before {
  width: 10px;
  height: 10px;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 5px solid black;
  position: absolute;
  left: -5px;
  top: -2px;
}
.icon-47 .retweet::after {
  width: 10px;
  height: 10px;
  border-top: 5px solid black;
  border-left: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  position: absolute;
  left: 23px;
  top: 11px;
}

/*icon-48*/
.icon-48 .key {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  left: -10px;
}
.icon-48 .key::before {
  width: 25px;
  border-bottom: 1px solid black;
  position: absolute;
  left: 19px;
  top: 9px;
}
.icon-48 .key::after {
  width: 5px;
  height: 5px;
  border: 1px solid black;
  border-bottom: none;
  position: absolute;
  top: 9px;
  left: 35px;
}

/*icon-49*/
.icon-49 .key2 {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  left: 10px;
  top: -10px;
  transform: rotate(135deg);
}
.icon-49 .key2::before {
  width: 25px;
  border-bottom: 1px solid black;
  position: absolute;
  left: 19px;
  top: 9px;
}
.icon-49 .key2::after {
  width: 5px;
  height: 5px;
  border: 1px solid black;
  border-top: none;
  position: absolute;
  top: 5px;
  left: 35px;
}

/*icon-50*/
.icon-50 .refresh {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  border-left: 1px solid white;
  position: relative;
}
.icon-50 .refresh::before {
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-right: none;
  border-bottom: none;
  position: absolute;
  left: 2px;
  top: 14px;
  transform: rotate(-15deg);
}
